h1
{
width: 100%;
margin: 0px;
height: 20%;
font-size: 60px;
background-color: blueviolet;
color: white;
font-style: italic;
}
body{
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
h2{
    color: white;
    font-weight: bold;
    font-style: italic;
}
    


